{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="hero-wrap js-fullheight mb-8" style="background-image: url({% static 'images/bg_4.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
            data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
                        class="mr-2"><a href="/">Home</a></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Your Profile</h1>
            </div>
        </div>
    </div>
  </div>
  
<div class="content-section mt-4 mb-4 ml-3">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="150" height="150">
    <div class="media-body ml-4">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>
    </div>
  </div>
  <hr>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Atualizar Perfil</legend>
      {{ u_form.as_p }}
      {{ p_form.as_p }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info ml-5" type="submit">Salvar Alterações</button>
    </div>
  </form>
</div>

<div class="">
<small class="text-muted">
  <a class="btn btn-info ml-5" href="{% url 'users:myreviews' %}" role="button">Meus Comentários</a><br>

</small>
</div>

{% endblock body %}