{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Projeto Ecommerce</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  
  </head>
  <body>
  <!-- Nav -->   
  <nav>
  </nav>
    <!-- END nav -->

    {% block body %}

    {% endblock body %} 


    
  

  <!-- loader, se for posto -->
  


 
<!-- Adicionar javascript aqui  <script src="""></script>  -->
  
    
  </body>
</html>